<p-panel class="expPanel" header="Explication de la stratégie">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lobortis consequat consequat. Vestibulum nec sem tortor. Ut sollicitudin ante vel feugiat consectetur. Sed rutrum sollicitudin consequat. Curabitur quis tempus eros. Donec nec blandit justo. Sed sit amet enim tortor. Sed dapibus et dolor vel tincidunt. Nam vitae ultrices sapien.

  Ut a quam vitae justo pharetra ornare a malesuada ipsum. Maecenas sollicitudin egestas dictum. Praesent ac aliquam nibh. Cras interdum enim nec odio commodo sagittis. Aliquam at felis non nibh vulputate hendrerit id ac metus. Aliquam sagittis consectetur urna, in consectetur risus blandit ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In pulvinar egestas ex quis semper. Suspendisse porta placerat nulla et laoreet. Etiam nec vehicula ex. Vivamus ut leo id quam malesuada gravida. Etiam elementum suscipit est pulvinar tempor. Mauris lobortis massa at lectus congue blandit.
</p-panel>

<div class="gridSolde">
  <p-card class="column" header="Solde de base">
    Solde de base
  </p-card>

  <p-card class="column" header="Solde courant">
    Solde courant
  </p-card>

  <p-card class="column" header="Résultat">
    <div class="result">
      <p style="text-align: center">Résultat en €</p>
      <img class="stonkImg" src="assets/stonks/stonks.png">
    </div>
  </p-card>
</div>

<div class="graphGains">
  <app-line-chart></app-line-chart>
</div>
