<p-panel class="expPanel" header="Explication de la stratégie">{{ description }}</p-panel>

<div class="gridSolde">
  <p-card class="column" header="Argent non investi">
    {{ last.value.money }} €
  </p-card>

  <p-card class="column" header="Valeur des actions">
    {{ last.value.stock_value }} €
  </p-card>

  <p-card class="column" header="Résultat / Goal">
    <div class="result">
      <p>
        {{last.value.stock_value + last.value.money - 1000}} €
        <span *ngIf="last.value.goal > -1"> / {{ last.value.goal }} €</span>
      </p>
      <div *ngIf="last.value.stock_value + last.value.money - 1000 > last.value.goal
      && last.value.stock_value + last.value.money - 1000 > 0;">
        <img class="stonkImg" src="assets/stonks/gigastonks.jpg">
      </div>
      <div *ngIf="last.value.stock_value + last.value.money - 1000 > 0;">
        <img class="stonkImg" src="assets/stonks/stonks.png">
      </div>
      <div *ngIf="last.value.stock_value + last.value.money - 1000 < 0;">
        <img class="stonkImg" src="assets/stonks/nonstonks.png">
      </div>
      <div *ngIf="last.value.stock_value + last.value.money - 1000 == 0;">
        <img class="stonkImg" src="assets/stonks/mmm.jpg_large">
      </div>
    </div>
  </p-card>
</div>

<div class="graphGains">
  <app-chart-strat [getterStrat]="datas"></app-chart-strat>
</div>
