<p-panel class="expPanel" header="Explication de la stratégie">{{ description }}</p-panel>

<div class="gridSolde">
  <p-card class="column" header="Argent non investi">
    {{ datas.value[datas.value.length-1].money }} €
  </p-card>

  <p-card class="column" header="Valeur des actions">
    {{ datas.value[datas.value.length-1].stock_value }} €
  </p-card>

  <p-card class="column" header="Résultat">
    <div class="result">
      <p>
        {{datas.value[datas.value.length-1].stock_value - 1000}} €
      </p>
      <div *ngIf="datas.value[datas.value.length-1].stock_value + datas.value[datas.value.length-1].money - 1000 > 0; else elseBlock">
        <img class="stonkImg" src="assets/stonks/stonks.png">
      </div>
      <ng-template #elseBlock>
        <img class="stonkImg" src="assets/stonks/nonstonks.png">
      </ng-template>
    </div>
  </p-card>
</div>

<div class="graphGains">
  <app-chart-strat [getterStrat]="datas"></app-chart-strat>
</div>
