.resStrat {
  display: flex;
}

.column {
  height: 33%;
  width: 33%;
  flex: 33%;
}

.graphGainsGlobal {
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

p-card {
  text-align: center;
}

